:root {
  --primary: #d18152;
  --secondary: #ebc3ab;
  --dark: #2c2c2c;
  --medium: #999999;
  --light: #e1e1e1;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--dark);
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.gradient {
  background: rgb(245, 239, 239);
  background: linear-gradient(
    0deg,
    rgba(245, 239, 239, 1) 0%,
    rgba(246, 244, 232, 1) 100%
  );
}
p,
a,
li {
  line-height: 150%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.p1 {
  font-size: 1rem;
}
.p2 {
  font-size: 0.875rem;
}
.p3 {
  font-size: 0.75rem;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}

.margin {
  margin: 0 1.5rem;
}

.intro-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-p25 {
  margin-bottom: 0.25rem;
}

.m-p5 {
  margin-bottom: 0.5rem;
}

.m-p75 {
  margin-bottom: 0.75rem;
}
.m-1 {
  margin-bottom: 1rem;
}
.m-1p5 {
  margin-bottom: 1.5rem;
}
.m-2 {
  margin-bottom: 2rem;
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  transition: 250ms ease-in-out;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  height: 3rem;
  width: 11.25rem;
}
.btn-form {
  border-radius: 4px;
  width: 7.125rem;
  height: 2.5rem;
  font-size: 0.875rem;
}
.pill {
  border-radius: 100vmax;
}
.box-shadow {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 5%);
}

@media screen and (min-width: 768px) {
  .margin {
    margin: 0 6rem;
  }
}
@media screen and (min-width: 1080px) {
  .margin {
    margin: 0 10rem;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
